.item{
    border:solid 1px black;
    padding: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-column-gap:5px;
    grid-row-gap: 5px;
    grid-auto-rows: minmax(0,auto);
    align-items: start;
}

