.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap:5px
}
.user1{
    display: flex;
    gap: 2px;
    justify-content: start;
    align-items: center;
}
img{
    border-radius: 50%;
    display: inline-block;
    width:100px;
    height:100px;
}
.user2{
    display: flex;
    gap: 2px;
    justify-content: end;
    align-items: center;
}
.time{
    color:#B5B5BD ;
}
.ab2{
    display: flex;
    background-color:lightcoral;
    border-radius:5%;
    align-items: center;
    justify-content: start;
}
.mes1{
    margin:10px;
}
.ab5{
    display: flex;
    background-color:aqua;
    border-radius:5%;
    align-items: center;
    justify-content: end;
}
.mes2{
    margin:10px;
}
.ab8{
    display: flex;
    background-color:lightcoral;
    border-radius:5%;
    align-items: center;
    justify-content: start;
}
.mes1{
    margin:10px;
}
.ab11{
    display: flex;
    background-color:aqua;
    border-radius:5%;
    align-items: center;
    justify-content: end;
}
.mes2{
    margin:10px;
}
.ab14{
    display: flex;
    background-color:lightcoral;
    border-radius:5%;
    align-items: center;
    justify-content: start;
}
.mes1{
    margin:10px;
}
.ab17{
    display: flex;
    background-color:aqua;
    border-radius:5%;
    align-items: center;
    justify-content: end;
}
.mes2{
    margin:10px;
}
