body{
    height: 100vh;
    width:100%;
    margin:0;
    
}
.myb{
    width: 100%;
    height:13%;
    background-color:cadetblue;
    display: flex;
    align-items: center;
    
}
.mybt{
    margin-left:30px;
    color:aliceblue;
    font-size: 20px;
}
.container{
    width: 100%;
    height:87%;
    background-color: aquamarine;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    overflow: scroll;


}
.mes1{
    background-color: lightgray;
    width:400px;
    height: 700px;
    align-self: center;
    justify-self: center;
    overflow: scroll;
    
}
.mes2{
    background-color: lightgray;
    width:400px;
    height: 700px;
    align-self: center;
    justify-self: center;
    }
.mes3{
        background-color: lightgray;
        width:400px;
        height:700px;
        align-self: center;
        justify-self: center;
        }

.one{
    display:flex;
    width:80%;
    height:200px;
    margin :0;
    position:relative;
    background-color: aliceblue;
    justify-self: center;
    align-items: center;
    margin-bottom: 5px;
}
.use1{
    position:absolute;
    right:2px;
    bottom:0px;
}